%h1 focus fengshui
%h2 Analyse, Beratung und Raumgestaltung von Sanna Rehfeld

%ul
  %li nach traditionellem Feng Shui,
  %li auf westliche Bedürfnisse übertragen,
  %li individuell auf Sie und Ihre Räume zugeschnitten.

%p Gestalten Sie Ihre Welt und schaffen Sie Räume voller Energie zum erfolgreichen Arbeiten und harmonischen Wohnen.
%p Die Beratung von Sanna Rehfeld unterstützt Sie dabei und gibt Ihnen Anregungen und Inspiration.

%p Mehr über Feng Shui, Sanna Rehfeld und ihre Arbeitsweise erfahren Sie im März 2011, wenn das Unternehmen startet und diese Seite in voller Pracht ausgebaut ist.

.contact
  %p.name Sanna Rehfeld

  %p.phone Tel 030.343 585 05
  %p.email sanna.rehfeld@focus-fengshui.de

  %p.address
    %span.street Zwingenberger Weg 10
    %br
    %span.city 14163 Berlin
