.page-container {
  @include eleven40-container;
}

header, #main {
  @include eleven40-row;
}

#main {
  .menu {
    @include eleven40-threecol;
  }

  .content {
    @include eleven40-fivecol;
  }

  .sidebar {
    .sidebar-box {
      padding-left: 12.4%;
    }
    @include eleven40-fourcol;
    @include eleven40-last;
  }

  footer {
    @include eleven40-twelvecol;
    @include eleven40-last;
    .site-info {
      padding-left: 25.95%;
    }
  }
}

.error-page {
  #main .main-box {
    width: 97%
  }

  #main .content {
    @include eleven40-twelvecol;
    padding: 20px;
  }

  #main footer .site-info {
    padding-left: 0;
  }
}

.clearfix {
  clear: both;
}
