img, object, embed {
  margin-bottom: 20px;
}

body {
  font-family: $text-font-stack;
  color: $text-color;
  font-size: 14px;
  line-height: 24px;
}

.handwriting {
  font-family: $handwriting-font-stack;
  color: $text-color;
  a {
    color: $text-color !important;
  }
}

.no-paragraph {
  margin-bottom: 0;
}

a img {
  display: block;    /* Stops image links getting text link styles */
}

p, ul, ol, blockquote {
  margin-bottom: 24px;
}

li {
  margin-left: 21px;
  margin-bottom: 0;
}

blockquote {
  border-left: 1px solid #c1c1c1;
  color: #747474;
  padding-left: 15px;
  margin-left: -15px;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
  padding-top: 24px;
  margin-bottom: 24px;
}

h3 {
  font-size: 16px;
  padding-top: 24px;
  margin-bottom: 24px;
}

h1, h2, h3 {
  font-family: $header-font-stack;
  font-weight: lighter;
}

.toplink {
  font-size: 14px;
  font-family: $text-font-stack;
}
