@include eleven40-typography;

h1, h2, h3 {
  font-family: $header-font-stack;
}

body {
  font-family: $text-font-stack;
  color: $text-color;
}

.toplink {
  font-size: 14px;
  font-family: $text-font-stack;
}

h1 {
  line-height: 30px;
  margin-bottom: 18px;
}

h2 {
  padding-top: 24px;
}
