.aktuelles {
  #main .content .margin-image-wrapper .margin-image {
    left: 105%;

    img { margin-bottom: 0; }
  }

  a.toplink { display: none; }

  h2 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: bold;

    a { font-weight: bold; }
  }

  .content, .sidebar {
    a { font-weight: bold; }
  }

  footer {
    a { font-weight: normal !important; }
  }
}
