@mixin layout-default {
  ul, ol {
    li {
      margin-left: 21px;
      margin-bottom: 0;
    }
  }

  header {
    margin: 48px 0;

    .logo {
      max-width: 120%;
    }

    .site-title, .site-subtitle {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #main {
    .menu {
      margin-bottom: 48px;
      nav {
        padding-left: 71px;
        a {
          display: block;
          &:hover, &.current {
            background-image: image_url('triangle.png');
            background-repeat: no-repeat;
            background-position: left center;
          }
        }
        a.level1 {
          @include link-colors($menu-text-color, $link-hover-color);
          margin-top: 24px;
          &:first-child {
            margin-top: 0;
          }
          &:hover, &.current {
            margin-left: -16px;
            padding-left: 16px;
          }
        }
        a.level2 {
          @include link-colors($submenu-text-color, $link-hover-color);
          margin-left: 24px;
          &:hover, &.current {
            margin-left: 8px;
            padding-left: 16px;
          }
        }
      }
    }

    .sidebar {
      color: $sidebar-text-color;
      a {
        @include hover-link;
        @include link-colors($sidebar-text-color, $link-hover-color);
        font-weight: normal;
      }
    }

    .toplink {
      float: right;
      margin-left: 24px;
      font-weight: normal;
      color: $toplink-text-color;
      @include hover-link;
    }
  }

  footer {
    text-size: 80%;
    padding-top: 24px;
    color: $footer-text-color;
    .site-info > p {
      float: left;
      margin-bottom: 0;
      .copyright {
        margin-right: 10px;
      }
    }
    nav {
      float: left;
      margin-left: 0.4em;
      margin-bottom: 24px;
      a {
        @include hover-link;
        color: $footer-text-color;
        margin: 0 10px;
        font-weight: normal;
        &:hover {
          color: $footer-text-color;
        }
      }
    }
  }
}
