@mixin layout-default {
  ul, ol {
    li {
      margin-left: 21px;
    }
  }

  header {
    margin-top: 24px;

    .site-title {
      font-size: 96px;
      line-height: 96px;
      margin: 0;
    }
    .site-subtitle {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 48px;
    }
    nav.site {
      display: block;
      margin-bottom: 24px;
    }
    .site-subtitle, nav.site {
      margin-left: 55%;
    }
  }

  #main {
    .menu {
      nav {
        margin-bottom: 48px;
        a {
          display: block;
        }
        a.level1 {
          margin-top: 24px;
          &:first-child {
            margin-top: 0;
          }
        }
        a.level2 {
          margin-left: 5%;
        }
      }
    }
  }

  footer {
    margin-top: 24px;
    color: $footer-text-color;
  }
}
