---
is_hidden: true
---

@import "eleven40/base";
@import "eleven40/mobile";
@import "_global/grid";

#main .menu nav {
  padding-left: 0;
}

.error-page {
  #main .main-box {
    width: 94.5%
  }

  #main .content {
    padding: 10px;
  }
}
