---
is_hidden: true
---

@import "compass";
@import "eleven40";
@import "eleven40/smallscreen";
@import "eleven40/typography";

@import "_config/fonts";
@import "_config/colors";

@import "_global/grid";
@import "_global/typography";
@import "_global/links";

@import "_layout/default";

@media screen {
  @include layout-default;
}

@media print {
}

@media only screen and (max-width: 1023px) {
  @include eleven40-smallscreen-reset;
  header {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #main .menu nav {
    padding-left: 31px;
  }
}
