$text-font-stack: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$handwriting-font-stack: "Bradley Hand ITC TT", $text-font-stack;
$header-font-stack: $text-font-stack;
